.history {
  display: flex;
  justify-content: center;

  color: #feda4a;
  text-shadow: 0 0 2px #fff6ce;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 200%;
  font-weight: 600;
  line-height: 150%;
  text-align: justify;

  background-image: url(../../../assets/img/spb.jpg);

  height: 100%;
  width: 100%;
}

.history .crawl {
  position: relative;
  animation: crawl 120s linear;
  animation-fill-mode: forwards;

  width: 560px;
}

@keyframes crawl {
  0% {
    top: 500px;
  }
  100% {
    top: -4170px;
  }
}
