.near-litmo {
  background-image: url('../../../assets/img/scene-near-litmo.jpg');
}

.near-litmo .anim-ilia {
  width: 52px;
  height: 52px;
  background-image: url('../../../assets/img/anim/near-litmo-ilia.jpg');

  position: relative;
  top: 292px;
  left: 358px;

  animation: near-litmo-ilia-animation 2s steps(3);
  animation-play-state: running;
  animation-iteration-count: infinite;
}

@keyframes near-litmo-ilia-animation {
  0% {background-position-x: 0px;}
  100% {
    background-position-x: -159px;
  }
}

.near-litmo .anim-navroid {
  width: 108px;
  height: 93px;
  background-image: url('../../../assets/img/anim/near-litmo-navroid.jpg');

  position: relative;
  top: 283px;
  left: 510px;
}

.near-litmo .anim-navroid--run {
  animation: near-litmo-navroid-animation 1.5s steps(9);
  animation-play-state: running;
}

@keyframes near-litmo-navroid-animation {
  0% {background-position-x: 0px;}
  100% {
    background-position-x: -981px;
  }
}

.talkable-ilia {
  height: 175px;
  width: 71px;
  top: 265px;
  left: 316px;
  cursor: url(../../../assets/img/cursors/talk-ilia.png), auto;
}

.talkable-navroid {
  height: 82px;
  width: 71px;
  top: 341px;
  right: 218px;
  cursor: url(../../../assets/img/cursors/talk-navroid.png), auto;
}

.phrase-2 {
  color: yellow;
}
