body, html {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.bg {
  height: 100%;
  background-color: black;
}

.view {
  color: white;
  width: 800px;
  height: 600px;

  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 auto;
  overflow: hidden;
}

.container {
  height: 100%;
}

.video-container button {
  position: relative;
  z-index: 100;
  top: -600px;
}

.main-menu {
  height: 100%;
  width: 100%;
  background-image: url('./img/main-menu.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.syringe-animation {
  width: 501px;
  height: 449px;
  background-image: url('./img/syringe-animation.png');

  animation: syringe-animation 0.6s steps(8);
  animation-play-state: paused;
  animation-fill-mode: forwards;
}

@keyframes syringe-animation {
  0% {background-position-x: 0px;}
  100% {
    background-position-x: -4008px;
  }
}

.history {
  display: flex;
  justify-content: center;
  height: 800px;
  perspective: 400px;

  color: #feda4a;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 300%;
  font-weight: 600;
  letter-spacing: 6px;
  line-height: 150%;
  text-align: justify;
}

.crawl {
  position: relative;
  /*transform-origin: 50% 100%;*/
  animation: crawl 5s linear;
  animation-fill-mode: forwards;
}

@keyframes crawl {
  0% {
    top: 0;
    /*transform: rotateX(20deg) translateZ(0);*/
  }
  100% {
    top: -8000px;
    /*transform: rotateX(30deg) translateZ(-6000px);*/
  }
}

.near-litmo {
  height: 100%;
  background-image: url('./img/scene-near-litmo.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
