.history {
  display: flex;
  justify-content: center;
  height: 800px;
  perspective: 400px;

  color: #feda4a;
  text-shadow: 0 0 2px #fff6ce;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 200%;
  font-weight: 600;
  line-height: 150%;
  text-align: justify;
  padding-left: 2rem;
  padding-right: 2rem;

  background-image: url(../../../assets/img/spb.jpg);
}

.history .crawl {
  position: relative;
  animation: crawl 120s linear;
  animation-fill-mode: forwards;
}

@keyframes crawl {
  0% {
    top: 0;
  }
  100% {
    top: -3320px;
  }
}
