<div class="history">
  <div class="crawl">
    <p>2054 год. Цивилизация Земли лежит в руинах.</p>

    <p>
      Ядерный смерч прокатился по планете, стирая с нее следы человеческого присутствия. Некоторые выжили, подвергнув
      себя судьбе более ужасной, нежели мгновенная смерть среди яростной бури потревоженных атомов.
    </p>

    <p>
      Планету захватили бездушные механизмы, порождения кафедры вычислительной техники. Приблуда, который давно утратил
      человеческие черты, слившись c базовой ЭВМ, управляет миром железной рукой. Киборги и жуткие мутанты, дети ядерной
      зимы, охотятся на последних людей, повинуясь безумным инструкциям Приблуды. Существование человечества висит на
      волоске.
    </p>

    <p>
      Лидер сопротивления, старец Василий, лучше других знал, что причиной войны послужило вовсе не нападение
      инопланетян или агрессия НАТО. Он помнил, что катастрофа началась с ИТМО. Что-то произошло 53 года назад, что-то,
      что разрушило Питер и послужило катализатором катастрофы.
    </p>

    <p>
      Мир расцвел тогда сотнями ядерных грибов, и был свет ярче солнца и смертоноснее чумы.
    </p>

    <p>
      Василий чудом выжил тогда. С тех пор он каждую весну подстригает вырастающую на плече вторую голову, напоминающую
      его самого в молодости, но к этим мелким неудобствам он давно привык. За свою мудрость и умение быстро решать
      интегралы он был выбран предводителем небольшого поселения людей с генным набором, не сильно отклонившимся в
      сторону от Homo Sapiens. Василий был уверен, что где-то есть другие люди.
    </p>

    <p>
      Чтобы найти их, нужно было выйти на простор раскаленной пустыни, в которую превратилась поверхность Земли, что
      сулило моментальную смерть. Среди развалин Ваисилий натолкнулся на машину времени, и понял, что это последний шанс
      человечества. В прошлое должен отправиться эмиссар, способный предотвратить трагедию. Он должен будет заручиться
      поддержкой местных жителей, разобраться как следует и наказать кого попало...
    </p>

    <p>
      Ради этой цели старик Навроид на своем ржавом вертолете героически проник в воздушное пространство ИТМО, и высадил
      там Василия вместе со специальным агентом Мохнатым (воздействие радиации) для того, чтобы в прошлом он сумел
      проникнуть внутрь этой неприступной цитадели Приблуды.
    </p>

    <p>
      Защищая их, Навроид был уничтожен, как и многие другие, подготовившие эту операцию. Мохнатый просто не имел права
      провалить задание.
    </p>
  </div>
</div>
